/* Haz que el item tenga borde, border-radius y un padding de 16px */

.item {
    list-style: none;
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
  }

  :global(.compact-theme) .item {
    padding: 8px;
  }