.divppal {
align-items:start;
justify-items:start;
position: relative;
top: 0;
width: 1250px;
margin-left: 20px;
}

.button {
    border-radius: 8px;
    border: 1px solid black;
    padding: 0.6em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: gray;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 20px;
  }
  .button:hover {
    border-color: #646cff;
  }